body {
    color: #535664;
    font-family: 'Roboto', sans-serif;
  }
  
  .like-button,
  .dislike-button {
    border: 1px solid #afb0b0;
    background: linear-gradient(to bottom, #e6e7e7 0%, #f5f5f5 100%);;
    padding: 0 5px;
  }
  
  .like-button {
    margin-right: 10px;
  }
  
  .liked, .disliked {
    font-size: 20px;
    font-weight: 700;
    color: #1e6ab6;
    padding: 0 8px;
  }
  